.certificate {
    padding: 100px 0;
}

.certificate .item {
    padding: 30px 10px;
    border-radius: 25px !important;
    color: #fff;
    line-height: var(--line-height);
    background-color: var(--background-section);
    transition: all 0.3s ease;
}

.certificate .item.free {
    color: var(--text-dark);
}

.certificate .item.not-free {
    background-color: var(--dark-main-color);
    position: relative;
}

.certificate .item.not-free::before {
    content: "الاكثر شعبية";
    background-color: #009688;
    left: 50%;
    top: 0;
    transform: translate(-50%, -50%);
    border-radius: 6px;
    padding: 5px;
    position: absolute;
}

.certificate .item h4 {
    text-align: center;
    font-weight: bold;
}

.certificate .item p {
    text-align: center;
    letter-spacing: 1px;
}

.certificate .item a {
    background-color: var(--main-color);
    color: #fff;
    padding: 7px 5px;
    text-align: center;
    display: block;
    margin: 10px 0;
    border-radius: 25px;
    transition: all 0.3s ease;
}

.certificate .item a:hover {
    letter-spacing: 1px;
}

.certificate .item ul {
    margin-top: 15px;
    list-style-type: none;
}

.certificate .item ul li {
    transition: all 0.3s ease;
}

.certificate .item ul li span {
    margin: 0 5px;
}

.certificate .item.free ul li i {
    color: green;
}

.certificate .item:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2) !important;
    transform: translateY(10px);
}

@media (max-width: 991px) {
    .certificate .col-md-6 {
        padding: 30px 10px !important;
    }
}