/* ======================== Contacts page ============= */

header.contact-us {
    height: 50vh;
    background: linear-gradient(rgba(15, 23, 43, .7), rgba(15, 23, 43, .7)),
        url('../assets/images/about/header.jpg') center / cover no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    background-attachment: fixed;
}

header.contact-us ul li a {
    color: #fff;
    font-weight: bold;
    font-size: 18px;
}

header.contact-us ul li a.active {
    color: var(--main-color);
}

.contacts {
    padding: 100px 0 60px 0;
    min-height: 100vh;
}

.contacts h4 {
    font-size: 35px;
    font-weight: 900;
    margin-left: 5px;
    position: relative;
    color: var(--black);
    margin-bottom: 30px;
    letter-spacing: 3px;
    padding-bottom: 20px;
    border-bottom: 1px dashed var(--gray);
}

.contacts h4 span,
.contacts h4 i {
    color: var(--dark-main-color);
}

.contacts .help {
    color: var(--dark-main-color);
}

.contacts .help span {
    color: var(--black);
    font-size: 22px;
}

.contacts .contact-details {
    padding: 50px 20px;
    color: #fff;
    border-radius: 15px;
    background-color: var(--main-color);
}

.contacts .contact-details h2 {
    font-size: 30px;
    font-weight: 700;
    font-family: cursive;
}

.contacts .contact-details span {
    font-size: 14px;
}

.contacts .contact-details i {
    font-size: 25px;
}

.contacts .contact-details .social i {
    padding: 7px;
    margin-left: 18px;
    margin-right: 5px;
    transition: all 0.5s;
    border: 1px solid none;
    border-radius: 6px;
    background-color: #f0f8ffcf;
}

.contacts .contact-details .social i:hover {
    transition: all 0.5s;
}

.contacts .send-message h2 {
    font-size: 30px;
    padding: 10px 0;
    font-weight: 800;
    margin: 0 0 20px 0;
    color: var(--dark-main-color);
}



.contacts .send-message input {
    width: 48%;
    border: none;
    padding: 15px;
    margin-right: 5px;
    border-radius: 7px;
    color: var(--black);
    background-color: rgba(0, 0, 0, 0.0784313725);
}

@media (max-width: 667px) {
    .contacts .send-message input {
        width: 100%;
        margin: 10px 0;
    }
}

.contacts .send-message input:focus {
    border: 1px solid var(--main-color-dark);
    outline: none;
}

.contacts .send-message textarea {
    width: 97%;
    border: none;
    padding: 10px;
    margin-top: 10px;
    color: var(--black);
    background-color: rgba(0, 0, 0, 0.0784313725);
}

.contacts .send-message textarea:focus {
    outline: none;
    border: 1px solid var(--main-color-dark);
}

#btn-submit {
    width: 150px;
    color: #fff;
    font-size: 20px;
    margin-top: 15px;
    font-weight: bold;
    padding: 10px 20px;
    border-radius: 25px;
    transition: all 0.5s;
    background-color: var(--main-color) !important;
}

.contacts .send-message .btn:hover {
    transition: all 0.5s;
    background-color: var(--main-color-dark);
}

.contacts .map {
    padding: 15px;
    border-radius: 20px;
}

.contacts .map iframe {
    width: 100%;
    border-radius: 5px;
}